{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<h3>{{title|safe}}</h3>
<h1>Fill the fields to change password</h1>
    <form action="{{ url_for('change_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password_1" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password_2" placeholder="Confirm password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
