{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}

    <body>
        <div class="list-settings" id="list-settings">
            <a href="#sectionSummary" class="list-group-item active">
                Summary
            </a>
            <a href="#sectionPassword" class="list-group-item">
                Wallets
            </a>
            <a href="#sectionEnableAccount" class="list-group-item">
                Password
            </a>
            <hr>
        </div>

    </body>
{% endblock %}
